/* Footer-specific Stylesheet */

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #ccc;
}

footer img {
    height: 60px;
}

footer p {
    margin: 10px 0;
}

footer p a {
    color: #39A459; /* Green from the logo */
}
