/* footer.css */
footer {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #E0E0E0;
}

footer img {
    height: 40px;
}

footer p {
    color: black;
    margin: 5px 0;
}
