<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <title>Deadweight Fit</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/index.html"><img src="../public/images/ico/favicon.ico" alt="Dead Weight Fitness Logo" class="logo"></a>
            <div class="navbar-links">
                <a href="/">Home</a>
                <a href="/pages/shop.html">Shop</a>
                <a href="/pages/about.html">About</a>
                <a href="/pages/contact.html">Contact</a>
            </div>
            <div class="navbar-icons">
                <input type="text" placeholder="Search...">
                <button>Search</button>
                <a href="#"><img src="../public/images/icons/cart.png" alt="Cart"></a>
                <a href="#"><img src="../public/images/icons/user.png" alt="User"></a>
            </div>
        </nav>
    </header>
</body>
</html>
