<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/components/navbar.css">
    <title>Dead Weight Fitness</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/index.html"><img src="/assets/images/logo/logo.png" alt="Dead Weight Fitness Logo" class="logo"></a>
            <div class="navbar-links">
                <div class="dropdown">
                    <a href="#" class="dropdown-link">Mens</a>
                    <div class="dropdown-content">
                        <a href="/pages/mens/tops.html">Tops</a>
                        <a href="/pages/mens/bottoms.html">Bottoms</a>
                        <a href="/pages/mens/classic_print_shirts.html">Classic Print Shirts</a>
                        <a href="/pages/mens/monthly_charity_design.html">Monthly Charity Design</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropdown-link">Womens</a>
                    <div class="dropdown-content">
                        <a href="/pages/womens/tops.html">Tops</a>
                        <a href="/pages/womens/bottoms.html">Bottoms</a>
                        <a href="/pages/womens/classic_print_shirts.html">Classic Print Shirts</a>
                        <a href="/pages/womens/monthly_charity_design.html">Monthly Charity Design</a>
                    </div>
                </div>
                <a href="/pages/new_arrivals.html" class="dropdown-link">New Arrivals</a>
                <a href="/pages/holidays.html" class="dropdown-link">Holidays</a>
                <a href="/pages/gear.html" class="dropdown-link">Gear</a>
                <a href="/pages/ambassadors.html" class="dropdown-link">Ambassadors</a>
                <a href="/pages/contact.html" class="dropdown-link">Contact</a>
                <a href="/pages/press.html" class="dropdown-link">Press</a>
                <a href="/pages/about_us.html" class="dropdown-link">About Us</a>
            </div>
            <div class="navbar-icons">
                <input type="text" placeholder="Search Products">
                <button>GO</button>
                <a href="#"><img src="/assets/images/icons/notifications.png" alt="Notifications"></a>
                <a href="#"><img src="/assets/images/icons/signin.png" alt="Sign In"></a>
                <a href="#"><img src="/assets/images/icons/cart.png" alt="Cart"></a>
            </div>
        </nav>
    </header>
</body>
</html>
